<particles [style] = "myStyle" [width]="width" [height] = "height" [params]="myParams"></particles>

<!-- <div fxFlex = "100%"> -->
  <!-- <div style="text-align: center" class="maintext">
    <h1>Hey there! I'm Riya. <br>
      Scroll down to know more about me.
    </h1>
  </div> -->
<!-- </div> -->

<div class="container"
fxLayout = "column"
fxLayoutAlign = "center center"
fxLayoutGap = "10px">
<div class="maintext" style="text-align: center" fxFlex="80%">
    <h1>Hey there! I'm Riya. <br>
      Scroll down to know more about me.
    </h1>
</div>
<div style="font-size: large">
  <a mat-button>Scroll</a>
</div>
</div>